# Ignore node_modules from frontend & backend
backend/node_modules/
frontend/node_modules/

# Ignore build files
backend/dist/
frontend/dist/

# Ignore environment files
backend/.env
frontend/.env

# Ignore logs
backend/logs/
frontend/logs/

# Ignore IDE-specific files
.vscode/
*.log
