.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    135deg,
    #ff9a9e,
    #fad0c4
  ); /* Gradient Background */
  position: relative;
  overflow: hidden;
}

.container {
  height: 300px;
  width: 280px;
  padding-left: 10px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 6px 10px rgba(41, 40, 42, 0.4),
    0px 8px 16px rgba(0, 0, 0, 0.5); /* Shadow for depth */

  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border for edge visibility */
  transition: transform 0.3s ease-in-out;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.input {
  width: 90%;
  padding: 5px;
  border: 1px solid #aa8e8e;
  border-radius: 5px;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}

.input::placeholder {
  color: #bbb;
}

.input:focus {
  border: 1px solid #007bff;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.label {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.loginBtn {
  
    width: 90%;
    padding: 3px;
    background-color: #0c4583;
    color: #fff;
    border: none;
    margin:10px 0px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.9;


}

.loginBtn:hover {
    opacity: 1;
    text-decoration:underline;
}
