* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    max-width: 1200px;
    width: 90%;
    max-height: 100px;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: auto;
    position: relative;

    /* box-shadow: 5px 5px 10px  rgba(178, 4, 4, 0.8); */

}


.nav-items {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 0.8rem;
    font-size: 0.8rem;
    align-items: center;
    color: #fff;
}

.Logo {
    display: flex;
    max-width: 160px;
    max-height: 70px;

}

.nav__link {
    margin: 0px 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 0.8rem;
    transition: all ease 0.3s;
    color: #fff;
}

.menu li {
    position: relative;
}

.nav__link:hover {
    color: #fff;
    text-decoration: underline;
    transform: scale(1.2);
}

.profile-dropdown {
    position: relative;


}

.dropdown-menu {
    position: absolute;
    top: 110%;
    right: 20%;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 5px;
    min-width: 150px;
}

.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}