.user__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.3rem;
  border-radius: 5px;
  padding: 10px 8px;
  margin: 1px 0px;
  cursor: pointer;
}

.user__container:hover {
  background-color: rgba(161, 170, 170, 0.5);
}

.avatar__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__useritem {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.username {
  font-size: 1.5rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
